*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#6a0dad;
    font-family:Arial,sans-serif;
}

.wrapper{
    width:700px;
}

.cards{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    gap:15px;
    list-style:none;
    justify-items:center;
}

.card{
     position:relative;
    width:110px;
    height:130px;
    cursor:pointer;
    transform-style:preserve-3d;
    transition:transform .35s;
}

.view{
    position:absolute;
    width:100%;
    height:100%;
    background:#fff;
    border-radius:12px;
    display:flex;
    justify-content:center;
    align-items:center;
    backface-visibility:hidden;
}

.front-view{
    font-size:42px;
    font-weight:bold;
}

.back-view{
    transform:rotateY(180deg);
}

.back-view img{
    width:100%;
    height:100%;
    object-fit:contain;
}

.card.flip{
    transform:rotateY(180deg);
}

.card.shake{
    animation:shake .35s ease-in-out 2;
}

@keyframes shake{
    0%,100%{
        transform:translateX(0) rotateY(180deg);
    }
    25%{
        transform:translateX(-10px) rotateY(180deg);
    }
    75%{
        transform:translateX(10px) rotateY(180deg);
    }
}

.details{
    margin-top:25px;
    color:#fff;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

button{
    padding:10px 20px;
    border:none;
    border-radius:8px;
    cursor:pointer;
}
